@mixin reset-html5doctor {
	/*!
	html5doctor.com Reset Stylesheet
	v1.6.1
	Last Updated: 2010-09-17
	Author: Richard Clark - http://richclarkdesign.com 
	Twitter: @rich_clark
	*/
	
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
	    margin:0;
	    padding:0;
	    border:0;
	    outline:0;
	    font-size:100%;
	    vertical-align:baseline;
	    background:transparent;
	}
	
	body {
	    line-height:1;
	}
	
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section { 
	    display:block;
	}
	
	nav ul {
	    list-style:none;
	}
	
	blockquote, q {
	    quotes:none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
	    content:'';
	    content:none;
	}
	
	a {
	    margin:0;
	    padding:0;
	    font-size:100%;
	    vertical-align:baseline;
	    background:transparent;
	}
	
	/* change colours to suit your needs */
	ins {
	    background-color:#ff9;
	    color:#000;
	    text-decoration:none;
	}
	
	/* change colours to suit your needs */
	mark {
	    background-color:#ff9;
	    color:#000; 
	    font-style:italic;
	    font-weight:bold;
	}
	
	del {
	    text-decoration: line-through;
	}
	
	abbr[title], dfn[title] {
	    border-bottom:1px dotted;
	    cursor:help;
	}
	
	table {
	    border-collapse:collapse;
	    border-spacing:0;
	}
	
	/* change border colour to suit your needs */
	hr {
	    display:none;
	    height:0;
	    border:0;   
	    border-top:1px solid #cccccc;
	    margin:1em 0;
	    padding:0;
	}
	
	input, select {
	    vertical-align:middle;
	}
	
	img {
		vertical-align: top;
	}
}

@mixin reset-normlize-css {
	/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
	
	/* ==========================================================================
	   HTML5 display definitions
	   ========================================================================== */
	
	/*
	 * Corrects `block` display not defined in IE 8/9.
	 */
	
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	nav,
	section,
	summary {
	    display: block;
	}
	
	/*
	 * Corrects `inline-block` display not defined in IE 8/9.
	 */
	
	audio,
	canvas,
	video {
	    display: inline-block;
	}
	
	/*
	 * Prevents modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */
	
	audio:not([controls]) {
	    display: none;
	    height: 0;
	}
	
	/*
	 * Addresses styling for `hidden` attribute not present in IE 8/9.
	 */
	
	[hidden] {
	    display: none;
	}
	
	/* ==========================================================================
	   Base
	   ========================================================================== */
	
	/*
	 * 1. Sets default font family to sans-serif.
	 * 2. Prevents iOS text size adjust after orientation change, without disabling
	 *    user zoom.
	 */
	
	html {
	    font-family: sans-serif; /* 1 */
	    -webkit-text-size-adjust: 100%; /* 2 */
	    -ms-text-size-adjust: 100%; /* 2 */
	}
	
	/*
	 * Removes default margin.
	 */
	
	body {
	    margin: 0;
	}
	
	/* ==========================================================================
	   Links
	   ========================================================================== */
	
	/*
	 * Addresses `outline` inconsistency between Chrome and other browsers.
	 */
	
	a:focus {
	    outline: thin dotted;
	}
	
	/*
	 * Improves readability when focused and also mouse hovered in all browsers.
	 */
	
	a:active,
	a:hover {
	    outline: 0;
	}
	
	/* ==========================================================================
	   Typography
	   ========================================================================== */
	
	/*
	 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
	 * Safari 5, and Chrome.
	 */
	
	h1 {
	    font-size: 2em;
	}
	
	/*
	 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
	 */
	
	abbr[title] {
	    border-bottom: 1px dotted;
	}
	
	/*
	 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
	 */
	
	b,
	strong {
	    font-weight: bold;
	}
	
	/*
	 * Addresses styling not present in Safari 5 and Chrome.
	 */
	
	dfn {
	    font-style: italic;
	}
	
	/*
	 * Addresses styling not present in IE 8/9.
	 */
	
	mark {
	    background: #ff0;
	    color: #000;
	}
	
	
	/*
	 * Corrects font family set oddly in Safari 5 and Chrome.
	 */
	
	code,
	kbd,
	pre,
	samp {
	    font-family: monospace, serif;
	    font-size: 1em;
	}
	
	/*
	 * Improves readability of pre-formatted text in all browsers.
	 */
	
	pre {
	    white-space: pre;
	    white-space: pre-wrap;
	    word-wrap: break-word;
	}
	
	/*
	 * Sets consistent quote types.
	 */
	
	q {
	    quotes: "\201C" "\201D" "\2018" "\2019";
	}
	
	/*
	 * Addresses inconsistent and variable font size in all browsers.
	 */
	
	small {
	    font-size: 80%;
	}
	
	/*
	 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
	 */
	
	sub,
	sup {
	    font-size: 75%;
	    line-height: 0;
	    position: relative;
	    vertical-align: baseline;
	}
	
	sup {
	    top: -0.5em;
	}
	
	sub {
	    bottom: -0.25em;
	}
	
	/* ==========================================================================
	   Embedded content
	   ========================================================================== */
	
	/*
	 * Removes border when inside `a` element in IE 8/9.
	 */
	
	img {
	    border: 0;
	}
	
	/*
	 * Corrects overflow displayed oddly in IE 9.
	 */
	
	svg:not(:root) {
	    overflow: hidden;
	}
	
	/* ==========================================================================
	   Figures
	   ========================================================================== */
	
	/*
	 * Addresses margin not present in IE 8/9 and Safari 5.
	 */
	
	figure {
	    margin: 0;
	}
	
	/* ==========================================================================
	   Forms
	   ========================================================================== */
	
	/*
	 * Define consistent border, margin, and padding.
	 */
	
	fieldset {
	    border: 1px solid #c0c0c0;
	    margin: 0 2px;
	    padding: 0.35em 0.625em 0.75em;
	}
	
	/*
	 * 1. Corrects color not being inherited in IE 8/9.
	 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
	 */
	
	legend {
	    border: 0; /* 1 */
	    padding: 0; /* 2 */
	}
	
	/*
	 * 1. Corrects font family not being inherited in all browsers.
	 * 2. Corrects font size not being inherited in all browsers.
	 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
	 */
	
	button,
	input,
	select,
	textarea {
	    font-family: inherit; /* 1 */
	    font-size: 100%; /* 2 */
	    margin: 0; /* 3 */
	}
	
	/*
	 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
	 * the UA stylesheet.
	 */
	
	button,
	input {
	    line-height: normal;
	}
	
	/*
	 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	 *    and `video` controls.
	 * 2. Corrects inability to style clickable `input` types in iOS.
	 * 3. Improves usability and consistency of cursor style between image-type
	 *    `input` and others.
	 */
	
	button,
	html input[type="button"], /* 1 */
	input[type="reset"],
	input[type="submit"] {
	    -webkit-appearance: button; /* 2 */
	    cursor: pointer; /* 3 */
	}
	
	/*
	 * Re-set default cursor for disabled elements.
	 */
	
	button[disabled],
	input[disabled] {
	    cursor: default;
	}
	
	/*
	 * 1. Addresses box sizing set to `content-box` in IE 8/9.
	 * 2. Removes excess padding in IE 8/9.
	 */
	
	input[type="checkbox"],
	input[type="radio"] {
	    box-sizing: border-box; /* 1 */
	    padding: 0; /* 2 */
	}
	
	/*
	 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
	 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
	 *    (include `-moz` to future-proof).
	 */
	
	input[type="search"] {
	    -webkit-appearance: textfield; /* 1 */
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; /* 2 */
	    box-sizing: content-box;
	}
	
	/*
	 * Removes inner padding and search cancel button in Safari 5 and Chrome
	 * on OS X.
	 */
	
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
	    -webkit-appearance: none;
	}
	
	/*
	 * Removes inner padding and border in Firefox 4+.
	 */
	
	button::-moz-focus-inner,
	input::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}
	
	/*
	 * 1. Removes default vertical scrollbar in IE 8/9.
	 * 2. Improves readability and alignment in all browsers.
	 */
	
	textarea {
	    overflow: auto; /* 1 */
	    vertical-align: top; /* 2 */
	}
	
	/* ==========================================================================
	   Tables
	   ========================================================================== */
	
	/*
	 * Remove most spacing between table cells.
	 */
	
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	}
}

@mixin yui-reset {
	/*!
	YUI 3.7.1 (build 5627)
	Copyright 2012 Yahoo! Inc. All rights reserved.
	Licensed under the BSD License.
	http://yuilibrary.com/license/
	*/
	html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
}


@mixin yui-font {
	/*!
	YUI 3.5.1 (build 22)
	Copyright 2012 Yahoo! Inc. All rights reserved.
	Licensed under the BSD License.
	http://yuilibrary.com/license/
	*/
	body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}#yui3-css-stamp.cssfonts{display:none}
}


// @include reset-html5doctor();
// @include yui-reset();
// @include reset-normlize-css();
// @include yui-font();